<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>中华人民共和国</string>
		<key>country_code</key>
		<string>86</string>
		<key>iconName</key>
		<string>account_pic_china</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中国香港</string>
		<key>country_code</key>
		<string>852</string>
		<key>iconName</key>
		<string>account_pic_hk</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中国澳门</string>
		<key>country_code</key>
		<string>853</string>
		<key>iconName</key>
		<string>account_pic_macao</string>
	</dict>
	<dict>
		<key>title</key>
		<string>中国台湾</string>
		<key>country_code</key>
		<string>886</string>
		<key>iconName</key>
		<string>account_pic_taiwan</string>
	</dict>
</array>
</plist>
