<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<dict/>
		<key>footer</key>
		<dict/>
		<key>content</key>
		<array>
			<dict>
				<key>iconName</key>
				<string>lick</string>
				<key>title</key>
				<string>喜欢</string>
				<key>nextClassName</key>
				<string></string>
			</dict>
			<dict>
				<key>iconName</key>
				<string>lick</string>
				<key>title</key>
				<string>反馈</string>
				<key>nextClassName</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
